@font-face {
    font-family: p22Vincent;
    src: url(DnD_Website/fonts/P22-Vincent-Regular.otf);
}
h1.title {
    font: 4em p22Vincent;
    margin: 0 0 0 0;
    color: #FFFFFF;
}
body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.navDnD {
    padding-right: 3em;

}
.navwar {

}