@charset "UTF-8";

html, body, div, ul, li {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-image: url(Images/felt2.jpg);
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	color: #4d4d4d;
	color: rgb(77, 77, 77);
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	padding-top: 50px;
}
#top, #bottom, #left, #right {
	background: #a5ebff;
	position: fixed;
}
#left, #right {
	background-image: url(Images/borderV.jpg);
	top: 0; bottom: 0;
	width: 15px;
}
#left { left: 0; }

#right { right: 0; }

#top, #bottom {
	background-image: url(Images/borderH.jpg);
	left: 0; right: 0;
	height: 15px;
}
#top { top: 0; }

#bottom { bottom: 0; }

h1 {
	width: 100%;
	font-size: 70px;
	font-weight: bold;
	text-align: center;
	color: rgba(255, 255, 255, 1);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
}
h2 {
	color: rgba(255, 255, 255, 1);
}

h4 {
	color: rgba(255, 255, 255, 1);
}

.card-block {
	width: 40%;
	margin: 0 auto;
}

.opp-card-container {
	box-shadow: 2px 10px 25px #888888;
	height: 96px;
	width: 67px;
	background-image: url(Images/CardDeck.gif);
	background-position: -3536;
}

.my-card-container {
	box-shadow: 2px 10px 25px #888888;
	height: 96px;
	width: 67px;
	background-image: url(Images/CardDeck.gif);
	background-position: -3536;
}

.potCard{
	visibility: hidden;
	display: inline;
	box-shadow: 2px 10px 25px #888888;
	height: 95px;
	width: 67px;
	background-image: url(Images/CardDeck.gif);
	background-position: -3536;

}
.oppCard1 {
	 background-position: -3536;
 }
.oppCard2 {
	background-position: -3536;
}
.oppCard3 {
	background-position: -3536;
}
.oppCard4 {
	background-position: -3536;
}
.myCard1{
	margin-left: 138px;
	background-position: -3536;
}
.myCard2 {
	background-position: -3536;
}
.myCard3 {
	background-position: -3536;
}
.myCard4 {
	background-position: -3536;
}

.card-container h2, .card-container h4 {
	text-align: center;
}
.card-container h2 {
	padding-top: 38px;
	font-size: 38px;
}
.card-container h4 {
	font-size: 22px;
}

.row-centered {
	text-align: center;
}

.card-count{
	color: rgba(255, 255, 255, 1);
}
.pot {
	text-align: left;
	display: inline;

}

.btn {
	margin: 0 auto;
	margin-top: 25px;
}